{% extends 'base.html' %}
{% load static %}

{% block title %} <title>My Blog-- Detail Page</title> {% endblock title %}

{% block content %}
    <h1> This is my Detail page of blog ID {{blog.0 }} </h1>

        <div class="row" >
          <div class="col-md m-4" style="background-color: antiquewhite; border: 1px solid beige;">
            <h2>{{blog.title}}</h2> <hr>
            {% if blog.3 %}
            <a href={{blog.3}}><img src={{blog.3}} alt="My image" style="max-width: 200px;"></a>

            {% else %}
            <img src="{% static 'abc.jpg' %}" style="max-width: 200px;">
            {% endif %}
            <p>{{blog.content}}-- {{blog.0}}</p>
            <br>

            <div id='commentsId'>
                {% for comment in comments %}
                  <p> <li>{{ comment.title }} </li></p>
                {% endfor %}
            </div>
            <!-- {% csrf_token %} -->

            <input type='text' id='textId' required>
            <button type='button' id='btnId' class='btn btn-success'>Add Comment</button>   <br>         

            <a href="{% url 'delete_blog' blog.pk %}"> <button class="btn btn-danger"> Delete</button> </a>
            <a href="{% url 'update_blog' blog.pk %}"> <button class="btn btn-warning"> Update </button> </a>
            <br>
          </div>
          
        </div>

{% endblock content %}


{% block extra_js %}
<script>
  // console.log(document.readyState)
  // if(document.readyState=='loading'){
  //   console.log('document ready')
  // }

  $('document').ready(function(){
    console.log('ready document');
    const btnId = document.getElementById('btnId');
    // console.log(btnId)
    const textId = document.getElementById('textId');
    const commentsId = document.getElementById('commentsId')


      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
    // console.log(csrftoken)

    btnId.onclick = function(){
      console.log('btn clicked')
      console.log(textId.value)
      var para = document.createElement('p')
      para.innerHTML = '<li>'+textId.value + '</li>'
      title = textId.value;
      commentsId.appendChild(para)
      
      if(textId.value == ''){
        // create an paragraph, append enter data on the comment
        var para = document.createElement('p')
        para.innerHTML = '<li><small style="color: red;">'+ 'Enter value on the comment table' + '</small></li>'
        title = textId.value;
        commentsId.appendChild(para)
      } else {
          textId.value = '';
          $.ajax({
          method: "POST",
          url: "{% url 'ajax_view' %}", // '/home/data/'
          data: {
            title: title,
            blog_id: {{ blog.id }},
          },
          headers:{
            'X-CSRFToken': csrftoken
          },
          success: function(data){
            console.log('success', data);
            console.log(data['data'], ' THIs is sthe value')
            // code for append html
          },
          error: function(e){
            console.log('error')
          }
        })
      }
      

    }


  })

</script>
{% endblock extra_js %}

<!-- $.ajax({

}) -->