{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h3>Create User</h3>

    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                
                <br><br>
                {{ form|crispy }}
                
              <br>
              <br>
              <input type="submit" value="Create User"><br><br>
            </form>

        </div>

    </div>
    


{% endblock content %}