{% extends 'base.html' %}
{% load static %}

{% block title %} <title>My Blog-- Index Page</title> {% endblock title %}

{% block content %}
    
    <div class="container p-4">
        {% for blog in page_obj %}
        <div class="row" >
          <div class="col-md-2">
          </div>
          <div class="col-md-8 m-4" style="background-color: antiquewhite; border: 1px solid beige;">
            <a href="{% url 'detail_blog' blog.0 %}" style="text-decoration:none; color: black;"><h2>{{blog.1}}</h2> </a> <hr>
            {% if blog.3 %}
            <a href={{blog.3}}><img src={{blog.3}} alt="My image" style="max-width: 200px;"></a>

            {% else %}
            <img src="{% static 'abc.jpg' %}" style="max-width: 200px;">
            {% endif %}
            <p>{{blog.2}}-- {{blog.0}}</p>
            
            
          </div>
          <div class="col-md-2">
          </div>
        </div>
        {% endfor %}

        <div class="pagination">
          <span class="step-links">
              {% if page_obj.has_previous %}
                  <a href="?page=1">&laquo; first</a>
                  <a href="?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
      
              <span class="current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
      
              {% if page_obj.has_next %}
                  <a href="?page={{ page_obj.next_page_number }}">next</a>
                  <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
          </span>
      </div>


      </div>
    
{% endblock content %}